* {
    border: none;
    border-radius: 0;
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: FontAwesome, Roboto, Helvetica, Arial, sans-serif;
    font-size: 13px;
    min-height: 0;
}

button, label {
    all: unset;
}

window#waybar {
    background-color: rgba(40, 42, 54, 0.5);
    /* border-bottom: 3px solid rgba(100, 114, 125, 0.5); */
    color: #F8F8F2;
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0.2;
}

/*
window#waybar.empty {
    background-color: transparent;
}
window#waybar.solo {
    background-color: #FFFFFF;
}
*/

window#waybar.termite {
    background-color: #44475A;
}

window#waybar.chromium {
    background-color: #282A36;
    border: none;
}

#workspaces button {
    padding: 0 12px;
    background-color: rgba(40, 42, 54, 0.5);
    color: #F8F8F2;
    /* Use box-shadow instead of border so the text isn't offset */
    box-shadow: inset 0 -3px transparent;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
#workspaces button:hover {
    background: rgba(40, 42, 54, 1);
    /* box-shadow: inset 0 -3px #ffffff; */
}

#workspaces button.focused {
    background-color: #6272A4;
    /* box-shadow: inset 0 -3px #ffffff; */
}

#workspaces button.urgent {
    background-color: #FF5555;
}

#mode {
    background-color: #6272A4;
    /* border-bottom: 3px solid #ffffff; */
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#custom-media,
#mpris,
#custom-notification,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#mpd {
    padding: 0 10px;
    margin: 0 4px;
    color: #F8F8F2;
}

#custom-notification {
	min-width: 1.25em;
}

#window,
#workspaces {
    margin: 0 4px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

/* same for notification thingy */
.modules-right > widget:last-child > #custom-notification {
    margin-right: 0;
}

#clock {
    background-color: #6272A4;
}

#battery {
    background-color: #F8F8F2;
    color: #282A36;
}

#battery.charging, #battery.plugged {
    color: #282A36;
    background-color: #50FA7B;
}

@keyframes blink {
    to {
        background-color: #FF5555;
        color: #282A36;
    }
}

#battery.critical:not(.charging), #memory.critical {
    background-color: #FF5555;
    color: #F8F8F2;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

label:focus {
    background-color: #282A36;
}

#cpu {
    background-color: #50FA7B;
    color: #282A36;
}

#memory {
    background-color: #6272A4;
}

#disk {
    background-color: #FFB86C;
}

#backlight {
    color: #282A36;
    background-color: #8BE9FD;
}

#network {
    color: #282A36;
    background-color: #BD93F9;
}

#network.disconnected {
    background-color: #FF5555;
}

#pulseaudio, #memory.warning {
    background-color: #FFB86C;
    color: #282A36;
}

#pulseaudio.muted {
    background-color: #6272A4;
    color: #F8F8F2;
}

#custom-media {
    background-color: #FF79C6;
    color: #282A36;
    min-width: 100px;
}

#mpris {
    background-color: #FF79C6;
    color: #282A36;
    min-width: 100px;
}

/*
#custom-media.custom-spotify {
    background-color: #66cc99;
}

#custom-media.custom-vlc {
    background-color: #ffa000;
}
*/

#temperature {
    background-color: #FFB86C;
}

#temperature.critical {
    background-color: #FF5555;
}

#tray {
    background-color: #6272A4;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #FF5555;
}

#custom-notification {
    background-color: #6272A4;
}

#idle_inhibitor {
    background-color: #6272A4;
}

#idle_inhibitor.activated {
    background-color: #FF5555;
    color: #F8F8F2;
}

#idle_inhibitor {
	margin-right: 0px;
}

#custom-notification {
	margin-left: 0px;
}

/*
#mpd {
    background-color: #66cc99;
    color: #2a5c45;
}

#mpd.disconnected {
    background-color: #f53c3c;
}

#mpd.stopped {
    background-color: #90b1b1;
}

#mpd.paused {
    background-color: #51a37a;
}

#language {
    background: #00b093;
    color: #740864;
    padding: 0 5px;
    margin: 0 5px;
    min-width: 16px;
}

#keyboard-state {
    background: #97e1ad;
    color: #000000;
    padding: 0 0px;
    margin: 0 5px;
    min-width: 16px;
}

#keyboard-state > label {
    padding: 0 5px;
}

#keyboard-state > label.locked {
    background: rgba(0, 0, 0, 0.2);
}
*/

#scratchpad {
    background: rgba(40, 42, 54, 0.2);
}

#scratchpad.empty {
	background-color: transparent;
}
